<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>
          
          <div class="field">
          <label> Date of Birth </label>
          <input type="text"
                 name="birth"
                 ng-model="user.profile.birth">
        </div>
          
          <div class="field">
          <label>My pronouns are:</label>
          <select
            name="pronouns"
            ng-model="user.profile.pronouns">
            <option value="">Pronouns</option>
            <option value="she/her">she/her</option>
            <option value="they/them">they/them</option>
            <option value="ze/zir">ze/zir</option>
            <option value="other">Other</option>
          </select>
        </div>

          <div class="field">
          <label> What school or company are you from? </label>
          <input type="text"
                 name="schoolOrCompany"
                 ng-model="user.profile.schoolOrCompany">
        </div>
          
<!--         <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div> -->

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="other">Other</option>
            <option value="NA">Not Applicable</option>
          </select>
        </div>

<!--         <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div> -->

<!--           <div class="field">
          <label>Please pick your top 3 skills from the list below:</label>
         <div class="ui checkbox">
            <input type="checkbox" id="Java" ng-model="user.profile.skills">
            <label for="Java">Java</label>
           <input type="checkbox" id="Python" ng-model="user.profile.skills">
            <label for="Python">Python</label>
           <input type="checkbox" id="JavaScript" ng-model="user.profile.skills">
            <label for="JavaScript">JavaScript</label>
           <input type="checkbox" id="Design" ng-model="user.profile.skills">
            <label for="Design">Design</label>
           <input type="checkbox" id="UX/UI" ng-model="user.profile.skills">
            <label for="UX/UI">UX/UI</label>
           <input type="checkbox" id="Web Development" ng-model="user.profile.skills">
            <label for="Web Development">Web Development</label>
           <input type="checkbox" id="Android" ng-model="user.profile.skills">
            <label for="Android">Android</label>
           <input type="checkbox" id="iOS" ng-model="user.profile.skills">
            <label for="iOS">iOS</label>
           <input type="checkbox" id="Mobile Development" ng-model="user.profile.skills">
            <label for="Mobile Development">Mobile Development</label>
           <input type="checkbox" id="AR/VR" ng-model="user.profile.skills">
            <label for="AR/VR">AR/VR</label>
           <input type="checkbox" id="Machine Learning" ng-model="user.profile.skills">
            <label for="Machine Learning">Machine Learning</label>
           <input type="checkbox" id="Unity" ng-model="user.profile.skills">
            <label for="Unity">Unity</label>
           <input type="checkbox" id="React" ng-model="user.profile.skills">
            <label for="React">React</label>
          </div>
        </div>
          
        <div class="field">
          <label>What are you most interested in?</label>
          <input type="text"
                 placeholder="Machine Learning, AR/VR, Mobile Apps, Web Development, Interaction Design"
                 ng-model="user.profile.description">
        </div> -->

        <div class="field">
          <label>
              What would you like to learn or get out of TechTogether Boston?
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>
          
<!--      !!!!!!     UPLOAD RESUME    !!!!!!    -->
          
          <div class="field">
          <label> Where are you travelling from? </label>
          <input type="text"
                 name="travel"
                 ng-model="user.profile.travel">
        </div>
          
          <div class="field">
          <label> Do you require travel reimbursements? </label>
          <select
            name="reimburse"
            ng-model="user.profile.reimburse">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
          
          <div class="field">
          <label> We will be sending buses to NYC. If we were to send a bus to your city, would you take it? </label>
          <select
            name="bus"
            ng-model="user.profile.bus">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

<!--         <div class="field"
             ng-hide="isMitStudent">
          <p>
            Because of limitations imposed by MIT, we are not legally allowed to host
            non-MIT minors (those under 18) for HackMIT 2015. Checking the box below affirms that you are or will be 18 years or older by September 19th, 2015.
          </p>
          <p>
            <strong>
            We will be checking ID. If you are a non-MIT minor, you will be turned away at the door.
            </strong>
          </p>
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 18 or older.</label>
          </div>
        </div> -->

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
